

.app{
  width: 100vw;
  padding: 0;
  margin: 0;
}

.header-body{
  background: #245a5a;
  position: fixed;
  color: #0b100c;
  font-size: 1.75vw;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  box-shadow: 2px 2px 1px;

}

.header-home{
  display: inline;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 1% ;
  margin: auto 0;
  cursor: pointer;
  color: #0b100c;
  border-color: #0b100c;
  white-space: nowrap;
}

.header-home:hover{
  color: #BEC0BF;
  border-color: #BEC0BF;
  
}



.header-menu{
  margin: auto 0;
}


.ul-menu-items{
  display: flex;
}

.ul-menu-items>li{
  margin-right: 4vw;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: initial;
}

.ul-menu-items>li:hover{
  opacity: .5
}
.home-body{
  width: 100%;
  height: 100vh;
  background: #BEC0BF
}

.typewriter{
  margin-top: 15vh;
  width: 100vw;
  height: 50vh;
}

.myName{
color: #07273E;
font-size: 7vw;
font-weight: bold;
text-align: center;
margin-top: 5%;
}

.byLine{
  color: #0b100c;
  text-align: center;
  margin-top: 2%;
  font-size: 3vw;
  font-weight: bold;
}

.skills-body{
  padding-top: 5%;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #BEC0BF;
  padding-left: 15vw;
  
}

h2{
  color: #0b100c;
  font-size: 3vw;
  font-style: italic;
  font-weight: bold;
}

.skills-container{
  margin: 5% 13% 0 10%;
  display: flex;
  flex-wrap: wrap;
  
}
.skill-icon{
  padding: 0;
  margin: 0;
  display: flex;
}

.icon-container{
  margin-left: 4%;
  margin-bottom: 10%;
  padding: 5%;
}
.icon{
  margin: auto;

}

.icon-title{
  font-size: 2em;
  text-align: center;
  width: 150px;
  margin-top: 10%;
}


.bio-body{
  padding: 5% 15vw;
  width: 100%;
  min-height: 65vh;
  height: auto;
  background: #07273E;
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
}

.bio-h2{
  color: #BEC0BF;
}
 
.bio-container{
  margin: 7% 25% 0 15%;
  display: flex;
}

.bio-image-me{
  max-height: 45vh;
  height: auto;
}

.bio-desc{
  font-size: 1.75vw;
  column-count: 2;
  color: #BEC0BF;
  margin: auto 0 auto 10%
}

.project-body{
  padding-top: 5%;
  width: 100%;
  min-height: 75vh;
  height: auto;
  background: #245a5a;
  padding-left: 15vw;
}

.project-container{
  display: flex;
  justify-content: space-between;
  margin: 5% 25% 0 15%;
}
.twitter{
  width: 45%;
  height: auto;
}

.timpview{
  width: 45%;
}

h3{
  color: #07273E;
  font-size: 3vw;
  font-style: italic;
  font-weight: bold;
  margin-bottom:8%;
}

.timpview>ul, .twitter>ul{
  height: 205px;
}



.timpview>ul>li, .twitter>ul>li{
  font-size: 1.75vw;
  margin-bottom: 3%;

}

.project-sub{
  font-weight: bold;
  min-height: 60px;
}

.project-skills{
  margin: 20% 0;
  width: 100%;
  font-style: italic;
  font-weight: bold;
  line-height: 2;
  height: 100px;
}

.project-images{
  margin:5% 5% 5% 0;
  display: flex;
  min-width: 400px;
}

.project-image{
  max-height: 100px;
  height: auto;
  width: 150px;
  margin: 2%;
}

.project-skills a:hover{
  color: #BEC0BF;
  opacity: .5;
}

.video-tour:hover{
  color: #BEC0BF;
  opacity: .5;
  cursor: pointer;
}

.video{
  display: flex;
  margin: auto;
}

.contact-body{
  background:#BEC0BF;
  min-height: 20vh;
  height: auto;
  width: 100%;
  padding: 5% 15%;
  display: flex;
}

.prelude{
  text-align: center;
  margin: auto;
  color: #0b100c;
  font-size: 2vw;
  padding: 0 15%;
}

.contact-info >div:hover, a:hover{
  opacity: .5;
  cursor: pointer;
}

.telephone{
  display: inline-block;
}

.tele{
  width: auto;
}
.footer-body{
  display: flex;
  width: 100%;
  height: auto;
  background: #245a5a;
  color: #BEC0BF;
  text-align: center;
  font-size: 2vw;
  padding: 1%;
  
}
.sub-pre, .contact-info{
  margin-top: 2%;
}

.whatevs{
  margin: auto;
}

.modalImage{
  height: 500px;
  width: 650px;
  position: fixed;
}


@media( max-width:1200px ){
  

  .header-body{
    position: fixed;
    font-size: 3vw;
    padding: 0 5%;
  }

  .myName{
    font-size: 8vw;
  }

  .byLine{
    font-size:5vw;
  }

  .skills-body{
    padding-left: 0;
  }

  h2{
    text-align: center;
    font-size: 6vw;
    width: 100%;
  }

  .bio-h2{
    text-align: center;
  }

  .skills-container{
    margin: 0;
  }

  .bio-body{
    padding: 0;
    min-height: 40vh;
    padding-top: 5%;

  }


  .bio-container{
    flex-direction: column;
    margin: 5% 0;
  }

  .bio-image{
    margin: auto;
  }

  .bio-desc{
    margin: 5% auto;
    font-size: 3vw;
    width: 50%;
  }


  .project-body{
    padding-left: 0;
  }
  .project-container{
    flex-direction: column;
    margin: 5% 0;
    justify-content: center;

  }

  .timpview, .twitter{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  h3{
    font-size: 5vw;
    text-align: center;
  }

  .timpview>ul>li, .twitter>ul>li{
    font-size: 3vw;
    margin-bottom: 3%;
  
  }

  .project-skills{
    font-size: 2.5vw;
  }

  .project-image{
    max-height: 150px;
    height: auto;
    width: 200px;
    margin: 2%;
  }

}

@media(max-width:400px){
  *{
    overflow-x: hidden
  }

  .header-body{
    font-size: 4.25vw;
  }

  .home-body{
    height: 85vh;
  }

  .skills-container{
    display: flex;
    flex-direction: column;

  }

  .icon-container{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 3% 0;
  }

  .icon-title{
    width: 100vw;
    text-align: center;
  }

  .project-images{
    flex-direction: column;
  }

  .header-body{
    width: 100vw;
  }

  h2{
    font-size: 15vw;
  }

  .bio-desc{
    font-size:5vw;
    width: 85%;
  }

  h3{
    font-size: 6vw;
  }

  .timpview>ul>li, .twitter>ul>li{
    font-size: 4vw;
  }
  .project-skills{
    font-size: 3.5vw;
  }


  .prelude{
    font-size: 4vw;
  }

  .whatevs{
    font-size: 3.5vw;
  }
}